# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.cache/

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code and other IDE settings
.vscode/
.idea/

# Streamlit specific
.streamlit/config.toml
.streamlit/secrets.toml

# OS generated
.DS_Store
Thumbs.db

# Excel files
*.xls
*.xlsx

# Temporary files
*.bak
*.tmp
*.swp

# Output files from the app
resultado_comparacao.xlsx
